body {
  /* Old browsers */
  background: #EEE;
  /* Chrome 10-25, Safari 5.1-6 */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #ecf0f1;
  margin: 0;
  padding: 0;
  border: hidden;
  align-content: center;
}

.navbar-brand {
  font-family: Avenir;
  font-size: 20px;
  text-align: left;
}


h2 {
  font-family: Avenir;
  font-size: 45px;
  font-weight: lighter;
}

h3 {
  font-family: Avenir;
  color: #696969;
  font-weight: lighter; 
  text-align: left;
}

p {
  font-family: Avenir;
  color: #696969;
  font-weight:lighter; 
  text-align:left;
}

h4 {
  font-family: Avenir;
  color: #95a5a6;
  text-align:center;
  font-weight:lighter;
}


/* Navigation */

.navigation {
  box-sizing: border-box;
  background-color: #EEE;
  overflow: auto;
  padding: 18px 50px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
}

.forum-button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.forum-button {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.forum-button:focus,
.forum-button.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.forum-button:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.forum-button:active,
.forum-button.active,
.open > .dropdown-toggle.forum-button {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.forum-button:active:hover,
.forum-button.active:hover,
.open > .dropdown-toggle.forum-button:hover,
.forum-button:active:focus,
.forum-button.active:focus,
.open > .dropdown-toggle.forum-button:focus,
.forum-button:active.focus,
.forum-button.active.focus,
.open > .dropdown-toggle.forum-button.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.forum-button:active,
.forum-button.active,
.open > .dropdown-toggle.forum-button {
  background-image: none;
}
.forum-button.disabled:hover,
.forum-button[disabled]:hover,
fieldset[disabled] .forum-button:hover,
.forum-button.disabled:focus,
.forum-button[disabled]:focus,
fieldset[disabled] .forum-button:focus,
.forum-button.disabled.focus,
.forum-button[disabled].focus,
fieldset[disabled] .forum-button.focus {
  background-color: #fff;
  border-color: #ccc;
}
.forum-button .badge {
  color: #fff;
  background-color: #333;
}





