<!DOCTYPE HTML><html lang="en">
{% extends "base.html" %}
{% set active_page = "menu1" %}
{% block content %}

  <link href="/../static/css/circle.css" type="text/css" rel="stylesheet">
  <link href="/../static/css/style.css" type="text/css" rel="stylesheet">

  <p>This is the admin page. To see the dashboard of a student, enter their student ID in the box on the right.</p>

    <title>Search</title>
    <div class="pull-right">
      <div class="container">
        <form action="" method="post" class="pull-right">
          <input type="text" placeholder="Student ID" name="username" value="{{request.form.username }}">
          <input class="btn btn-default" type="submit" value="Submit">
        </form>

        {% if error %}

        <p class="error"><strong>Error:</strong> {{ error }}
       
        {% endif %}
      </div>
    </div>

{% endblock %}