<!DOCTYPE HTML>
{% extends "base.html" %}
{% block content %}

<link href="https://fonts.googleapis.com/css?family=Lato: 100,300,400,700|Luckiest+Guy|Oxygen:300,400" rel="stylesheet">
<link href="style.css" type="text/css" rel="stylesheet">

      <h2>Admin Login</h2>
      <p> This is the administrative page.</p>
      <h3 class="h3-login">Search for:</h1>

<script type="text/javascript" src="//cdn.jsdelivr.net/snap.svg/0.1.0/snap.svg-min.js"></script>

    <title>Login</title>

  <body>
    <div class="container">
   
      <form action="/login" method="post">
        <input type="text" placeholder="User ID" name="username" value="{{
          request.form.username }}">
        <input class="btn btn-default" type="submit" value="Display">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    
    </div>

  </body>


{% endblock %}