<!DOCTYPE html>
<html>
  <head>
    <title> My Student Dashboard </title>
    <link href="/../static/css/lib/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/../static/css/style.css" rel="stylesheet">
    <link href="/../static/css/circle.css" rel="stylesheet">
    
    <script src="/../static/js/lib/jquery.js"></script>
    <script src="/../static/js/lib/bootstrap.min.js"></script>
    <script src="/../static/js/lib/d3.v2.js"></script>
      
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
  </head>
  <body>
    <div class="container">
    <div class="col-md-12  col-lg-offset-0 text-center">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">

                <a class="navbar-brand">Student Dashboard</a>

            </div>
            <p class="tpbutton btn-toolbar" style="text-align:right">
              {% if session['logged_in'] == True %}
                    <a class="btn navbar-btn btn-default pull-right" href="/logout">Log Out</a>
              {% else %}
                    <a class="btn navbar-btn btn-default pull-right" href="/login">Log In</a>
              {% endif %}
                    <a class="btn navbar-btn btn-primary pull-right" href="/admin">Admin View</a>

            </p>


          </div>
          </div>
      </nav>
      </div>
      <div class="container">
        <div class="col-md-12">
          {% block content %}{% endblock %}
        </div>
      </div>
  </body>
</html>
