<!DOCTYPE HTML><html lang="en">
{% extends "base.html" %}
{% set active_page = "menu1" %}
{% block content %}

  <link href="circle.css" type="text/css" rel="stylesheet">
  <link href="style.css" type="text/css" rel="stylesheet">

  <h2>MITx Course 8.02</h2>
  <h3>Welcome user <span style="color:#2980b9;">{{ session['uname'] }}</span> to your personalized dashboard.</h3
  

  <p>You have been active for </span><b>{{ session['num1'] }}</b> days. Keep up the good work!</p>

<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <h4>Your Progress</h4>
        <br>
        <div class="c100 p{{ session['prog'] }} center green dark">
          <span>{{ session['prog'] }}%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
        <br>
      <p>Your progress is determined by the number of problems you have completed successfully over the total number of problems in the course.</p>
      </div>
      <div class="col-xs-6 col-sm-3">
        <h4>Second Column</h4>

          <br>
          <p> Right now this is a blank space but eventually it will hold a forum link. To be determined if we can also get the number of forum posts of each person.</p>

          <script type="javascript/text">
          var clicks = 45
          function countClicks(){
            clicks +=1
            document.getElementById("forum_button").innerHTML = clicks;
            }
          </script>

          <center><a onclick="javascript:countClicks();" href="https://piazza.com/" id="forum_button" class="btn btn-default" type="button">Go to Forum</a></center>

      </div>

  <!-- Add the extra clearfix for only the required viewport -->
      <div class="clearfix visible-xs-block"></div>

      <div class="col-xs-6 col-sm-3">

<meta charset="utf-8" />   <title>Chart.js </title>   

<h4>You vs. Model Student</h4>   

<!-- import plugin script --><script src='static/Chart.min.js'></script>
<!-- bar chart canvas element --><canvas id="chart" width="225" height="275"></canvas>

<script>
   // bar chart data
   var barData = {
   labels : [{% for item in labels %}
                  "{{item}}",
              {% endfor %}],
   datasets : [
      {
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
         data : [{% for item in values %}
                      {{item}},
                    {% endfor %}]
      }
      ]
   }
 
   // get bar chart canvas
   var mychart = document.getElementById("chart").getContext("2d");
 
   steps = 5
   max = 100
   // draw bar chart
   new Chart(mychart).Bar(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : false,
        barShowStroke : true,
        scaleShowLabels: true
   });
 
</script>

      </div>
      <div class="col-xs-6 col-sm-3">
        <h4>Learning Science Tip</h4>
        <br>
<p>Did you know that...</p>
      </div>
    </div>
</div>


<p><a href="https://openlearning.mit.edu/campus/resources-and-references" target="_blank" style="color:#16a085;">Click here</a> for resources on how to study smarter!</p>

   



</div>
</body>
{% endblock %}