<!DOCTYPE HTML><html lang="en">
{% extends "base.html" %}
{% set active_page = "menu1" %}
{% block content %}

  <link href="/../static/css/circle.css" type="text/css" rel="stylesheet">
  <link href="/../static/css/style.css" type="text/css" rel="stylesheet">

  <h2>MITx Course 8.02</h2>
  <h3>Welcome user <span style="color:#2980b9;">{{ values[1] }}</span> to your personalized dashboard.</h3>
  
    <p>You have been active for </span><b>{{ values[4] }}</b> days. Keep up the good work!</p>

<div class="container">
  <div class="row">

    <div class="col-xs-6 col-sm-4">
      <h4>Your Progress</h4>
        <br>
      <div class="c100 p{{ values[4] }} center green dark">
        <span>{{ values[4] }}%</span>
        <div class="slice"></div>
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
        <br>
      <p>Your progress is determined by the number of problems you have completed successfully over the total number of problems in the course.</p>
    </div>


    <div class="col-xs-6 col-sm-4">
      <h4>Learning Science Tip</h4>
        <br>
          <p>Did you know that socialization among students enhances motivation and completion rates?</p>
        <br>
          <p>One way to interact with your fellow students is by posting to the course's forum page.</p>
          <form action='/forumclicks' method="post" target="_blank">
            <center>
              <input type="hidden" name="clicks" value="{{ values[1] }}">
              <input class="btn btn-default" type="submit" value="Go to Forum">
            </center>
          </form>
    </div>

  <!-- Add the extra clearfix for only the required viewport -->
    <div class="clearfix visible-xs-block"></div>

    <div class="col-xs-6 col-sm-4">
      <h4>Your Problem Distribution</h4>

    <title>Doughnut Chart</title>
    <script src="static/Chart.bundle.js"></script>
    <script src="static/utils.js"></script>

    <style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>

    <div id="canvas-holder" style="width:100%">
        <canvas id="chart-area" />
    </div>

    <script>
    var randomScalingFactor = function() {
        return Math.round(Math.random() * 100);
    };
    var config = {
        type: 'doughnut',
        data: {
            datasets: [{
                data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                ],
                backgroundColor: [
                    window.chartColors.orange,
                    window.chartColors.green,
                    window.chartColors.blue,
                ],
                label: 'Dataset 1'
            }],
            labels: [
                "Problems Attempted",
                "Problems Attempted Twice",
                "Problems Unattempted"
            ]
        },
        options: {
            responsive: true,
            legend: {
                position: 'bottom',
            },
            title: {
                display: true,
            },
            animation: {
                animateScale: true,
                animateRotate: true
            }
        }
    };
    window.onload = function() {
        var ctx = document.getElementById("chart-area").getContext("2d");
        window.myDoughnut = new Chart(ctx, config);
    };
    document.getElementById('randomizeData').addEventListener('click', function() {
        config.data.datasets.forEach(function(dataset) {
            dataset.data = dataset.data.map(function() {
                return randomScalingFactor();
            });
        });
        window.myDoughnut.update();
    });
    var colorNames = Object.keys(window.chartColors);
    document.getElementById('addDataset').addEventListener('click', function() {
        var newDataset = {
            backgroundColor: [],
            data: [],
            label: 'New dataset ' + config.data.datasets.length,
        };
        for (var index = 0; index < config.data.labels.length; ++index) {
            newDataset.data.push(randomScalingFactor());
            var colorName = colorNames[index % colorNames.length];;
            var newColor = window.chartColors[colorName];
            newDataset.backgroundColor.push(newColor);
        }
        config.data.datasets.push(newDataset);
        window.myDoughnut.update();
    });
    document.getElementById('addData').addEventListener('click', function() {
        if (config.data.datasets.length > 0) {
            config.data.labels.push('data #' + config.data.labels.length);
            var colorName = colorNames[config.data.datasets[0].data.length % colorNames.length];;
            var newColor = window.chartColors[colorName];
            config.data.datasets.forEach(function(dataset) {
                dataset.data.push(randomScalingFactor());
                dataset.backgroundColor.push(newColor);
            });
            window.myDoughnut.update();
        }
    });
    document.getElementById('removeDataset').addEventListener('click', function() {
        config.data.datasets.splice(0, 1);
        window.myDoughnut.update();
    });
    document.getElementById('removeData').addEventListener('click', function() {
        config.data.labels.splice(-1, 1); // remove the label first
        config.data.datasets.forEach(function(dataset) {
            dataset.data.pop();
            dataset.backgroundColor.pop();
        });
        window.myDoughnut.update();
    });
    </script>
  </div>
</div>

<br>
<br>


<p><a href="https://openlearning.mit.edu/campus/resources-and-references" target="_blank" style="color:#16a085;">Click here</a> for resources on how to study smarter!</p>
   
  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script> 


</div>


{% endblock %}