<!DOCTYPE HTML><html lang="en">
{% extends "base.html" %}
{% set active_page = "menu1" %}
{% block content %}

  <link href="/../static/css/circle.css" type="text/css" rel="stylesheet">
  <link href="/../static/css/style.css" type="text/css" rel="stylesheet">

  <script src="static/Chart.bundle.js"></script>
  <script src="static/utils.js"></script>

  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>

  <p>This is the admin page. To see the dashboard of a student, enter their student ID in the box on the right.</p>

  <title>Search</title>
    <div class="pull-right">
      <div class="container">
        <form action="/admin" method="post" class="pull-right">
          <input type="text" placeholder="Student ID" name="username" value="{{request.form.username }}">
          <input class="btn btn-default" type="submit" value="Submit">
        </form>

        {% if error %}

        <p class="error"><strong>Error:</strong> {{ error }}
       
        {% endif %}
      </div>
    </div>

    <h2 style='color:#34495e;'>MITx Course 8.02</h2>
  <h3>Welcome user <span style="color:#f39c12;">{{ values[1] }}</span> to your personalized dashboard.</h3>
  
    <p>You have been active for <b><span style="color:#f39c12;">{{ values[2] }}</span></b> days. Keep up the good work!</p>

<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-4" style="position:relative; height:250px; width:375px">
      <h4>Progress</h4>
        <canvas id="myLineChart"></canvas>
<script>
var ctx = document.getElementById("myLineChart").getContext('2d');
var myLineChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ["Mon", "Tues", "Wed", "Thurs", "Fri", "Sat", "Sun"],
        datasets: [{
            label: 'Entire Course',
            data: {{ month_act }},
            backgroundColor: ['rgba(52, 73, 94, 0.3)'],
            borderColor: ['rgba(52, 73, 94, 1)'],
            borderWidth: 1.5
        },
        {
            label: 'This Week',
            data: {{ week_act }},
            backgroundColor: ['rgba(243, 156, 18, 0.2)'],
            borderColor: ['rgba(243, 156, 18, 1)'],
            borderWidth: 1.5
        }]
    },
    options: {
        showLines: true,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }],
            xAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
<br>

<small><p>Your activity is calculated based on login, video, problem, and reading data (one point per activity per day).</p></small>

    <br>

      <div class="c100 p{{ values[7] }} bar">
        <span>{{ values[7] }}%</span>
        <div class="slice"></div>
        <div class="bar"></div>
        <div class="fill"></div>
      </div>

      <small><p>Your progress is determined by the number of problems you have completed successfully over the total number of problems in the course.</p></small>

    </div>


    <div class="col-xs-12 col-sm-4">

       <h4>Badges</h4>

        <center><p>You currently have a <b><span style="color:#f39c12;">{{ current }}</span></b> day streak going!</p></center>


      <table style="width:100%">
        <tr>
          <td><img src="../static/images/3X.png" alt="3 Day Streak" width="110"></td>
          <td><img src="../static/images/5X.png" alt="5 Day Streak" width="110"></td>
          <td><img src="../static/images/7X.png" alt="7 Day Streak" width="110"></td>
        </tr>
        <tr>
          <td>Won {{ three_five_seven[0] }} times</td>
          <td>Won {{ three_five_seven[1] }} times</td>
          <td>Won {{ three_five_seven[2] }} times</td>
        </tr>
      </table>

      <br>
      <p>Your longest streak is <b><span style="color:#f39c12;">{{ longest }}</span></b> days.</p>
      
      <br>

      <p>Did you know that socialization among students enhances motivation and completion rates?</p>

      <p>One way to interact with your fellow students is by posting to the course's forum page.</p>
          <form action='/forumclicks' method="post" target="_blank">
            <center>
              <input type="hidden" name="clicks" value="{{ values[1] }}">
              <input class="btn btn-default" type="submit" value="Go to Forum">
            </center>
          </form>
 
    </div>

  <!-- Add the extra clearfix for only the required viewport -->
    <div class="clearfix visible-xs-block"></div>

    <div class="col-xs-12 col-sm-4">
      <h4>Problem Distribution</h4>

    <title>Doughnut Chart</title>

    <style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>

    <center><canvas id="doughnutChart" width="150" height="150"></canvas></center>
        <script>
          var ctxD = document.getElementById("doughnutChart").getContext('2d');
var myLineChart = new Chart(ctxD, {
    type: 'doughnut',
    data: {
        labels: [
                "Complete",
                "Incomplete",
                ],
        datasets: [
            {
                data: [
                    {{ values[3] }},
                    {{ values[4] }},
                ],
                backgroundColor: ["#34495e","#cccccc"],
                hoverBackgroundColor: ["#34495e","#cccccc"]
            }
        ]
    },
    options: {
            responsive: false,
            legend: {
                position: 'hidden',
            }
          }
});

        </script>

  <canvas id="barChart"></canvas>
        <script>
          var ctxB = document.getElementById("barChart").getContext('2d');
var myBarChart = new Chart(ctxB, {
    type: 'bar',
    data: {
        labels: ['Zero','One','Multiple'],
        datasets: [{
            label: 'Attempts',
            data: [
                  {{ values[4] }},
                  {{ values[5] }},
                  {{ values[6] }},
                  ],
            backgroundColor: [
                'rgba(52, 73, 94, 0.2)',
                'rgba(52, 73, 94, 0.6)',
                'rgba(243, 156, 18, 0.5)'
            ],
            borderColor: ['#34495e','#34495e','#f39c12'],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
      </script>

  </div>
</div>

<br>
<br>


{% endblock %}